/* 35em is also 560px when basefont is 16px */


/* Large viewports */

@media only screen and (min-width:32.5em) {
    .contentbox {
        background-color: #bed;
    }
    header img {
        width: 100%;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .subtitle {
        letter-spacing: 1.5pt;
        font-size: large;
        margin-left: 17px;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: yellow;
    }
}


/*  end medium */


/*

    nav button {
        display: none;
    }
    nav ul {
        margin-left: 2%;
    }
    nav ul li {
  
        display: flex;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }
    
*/