/* 17em is also 280px when basefont is 16px */

@media only screen and (min-width:64em) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1.1em;
    }
    body {
        font-size: 16px;
        line-height: 1.4;
        margin: 30px 50px;
        padding: .5rem;
        font-family: Ubuntu, sans-serif
    }
    h1 {
        font-size: 1.5rem;
    }
    #banner {
        margin-left: 10px;
    }
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #555;
    }
    nav {
        background-color: #ccc;
        font-family: Verdana, sans-serif;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #000;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    nav ul li.active a {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
    }
    nav ul li a:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: yellow;
        background-color: #000;
        border: none;
    }
    /* ------- clearfix: force an element not to collapse ----- */
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
}