@import url("https://fonts.googleapis.com/css?family=Antic+Slab|Cookie|Cormorant+Garamond|Great+Vibes|Inconsolata|Karla|Lobster|Lusitana|Oswald|Sorts+Mill+Goudy");

/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    line-height: 1.4;
    padding: 0.5rem;
    background: #ccc;
    margin: 30px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    font-family: "Ubuntu", sans-serif;
}

main {
    display: block;
}

.wrapper {
    grid-gap: 10px;
}

.wrapper h1 {
    padding: 10px;
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
}

.infoWide {
    background: #ddd;
    box-shadow: var(--shadow);
    display: flex;
    padding: 10px;
    margin: 0 auto;
    max-width: 760px;
}

.contentbox {
    background-color: #eee;
}

header {
    background-color: #09203f;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbanner {
    height: 120px;
    padding-right: 10px;
    padding-left: 10px;
}

.advive {
    background-color: #fff;
    color: black;
    font-size: 0.9em;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px #111;
}

footer {
    padding: 1rem;
    border-radius: 10px;
    background-color: #09203f;
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
    background-color: #09203f;
    height: 60px;
    color: #fff;
    font-family: "Lusitana", sans-serif;
    margin: 1rem auto;
}

.subtitle {
    font-style: italic;
    letter-spacing: 1pt;
    color: lawngreen;
    font-size: 0.9rem;
    margin-left: 20px;
}

.title {
    display: grid;
    text-align: center;
}

#currentdate {
    color: #ffd600;
}


/* Navigation Menu  */

nav {
    margin: 0 auto;
    /* Short nav
        max-width: 760px;
        background-color: #000;
    */
    background-color: #09203f;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li {
    display: block;
}

.active {
    background-color: var(--dark);
    color: rgb(255, 255, 255);
}

.bold_Text {
    font-style: italic;
    color: #3e689d;
    font-size: 1.1rem;
}

.logo {
    float: left;
    width: 90px;
    height: 90px;
    padding-right: 10px;
    padding-left: 10px;
}

header img {
    width: 80px;
    height: auto;
}


/*
header img {
    display: none;
}

.headings h1 {
    font-size: 1rem;
}
*/

.bodyLazy300 {
    display: block;
    text-align: center;
    font-family: "Roboto", serif;
    margin: 1rem auto;
}

.bodyLazy300 img {
    display: block;
    width: 300px;
    height: 400px;
    border: 0;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

picture img[data-src] {
    filter: blur(0.2em);
    transition: filter 0.25s;
}

picture img {
    filter: blur(0em);
    transition: filter 0.25s;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}


/* large viewports */

@media only screen and (min-width: 64em) {
    header img {
        width: 100%;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .subtitle {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    .contentbox {
        background-color: #ccc;
    }
}


/* Middle viewports */

@media only screen and (min-width: 48em) {
    .contentbox {
        background-color: #bed;
    }
    header img {
        width: 100%;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: yellow;
    }
}


/* Small viewports */

@media only screen and (min-width: 32em) {
    * {
        box-sizing: border-box;
        padding: 0px;
        line-height: 1.1em;
    }
    .grid-container {
        display: block;
        margin: 10px auto;
        border: 1px dashed #000;
        padding: 5px;
    }
    .headings h1 {
        font-size: 1.5rem;
    }
    .subtitle {
        letter-spacing: 0.5pt;
        font-size: small;
        margin-left: 10px;
    }
}