@import url("https://fonts.googleapis.com/css?family=Antic+Slab|Cookie|Cormorant+Garamond|Great+Vibes|Inconsolata|Karla|Lobster|Lusitana|Oswald|Sorts+Mill+Goudy");

/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    line-height: 1.7rem;
    padding: 0.5rem;
    background: #ccc;
    margin: 30px 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: black;
    font-family: "Cormorant+Garamond", sans-serif;
    display: block;
}

main {
    display: block;
}

.wrapper {
    grid-gap: 10px;
}

.wrapper h1,
h2 {
    padding: 10px;
    margin: 0 auto;
    /*
        max-width: 760px;
        */
    text-align: center;
}

.infoWide {
    background: #ddd;
    box-shadow: var(--shadow);
    display: flex;
    padding: 10px;
    max-width: 760px;
    margin: 1rem auto;
}

.forecast {
    background: #ddd;
    box-shadow: var(--shadow);
    max-width: 760px;
    padding: 10px;
    margin: 0 auto;
}

.contentbox1 {
    text-align: left;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5rem;
    color: black;
    font-family: "Cormorant+Garamond", sans-serif;
}

.contentbox2 {
    color: navy;
    padding: 1rem 0 0 0;
    text-align: left;
    font-size: 0.8em;
    line-height: 1.1em;
    font-family: "Verdana", sans-serif;
    margin: 1rem auto;
}

.contentbox3 {
    text-align: left;
    padding: 1rem 0 0 0;
    color: black;
    font-family: "Lusitana", sans-serif;
    margin: 1rem auto;
}

header {
    background-color: #09203f;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbanner {
    height: 120px;
    padding-right: 10px;
    padding-left: 10px;
}


/* Banner Pancakes */

.banner {
    background-color: #9abcff;
    color: #371f99;
    padding: 0.25em 0.5em 0.25em 1em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.banner .fa-times {
    display: block;
    float: right;
    padding-top: 0.25em;
}

.banner .fa-times:hover {
    color: #cc9466;
}

.advice {
    background-color: #fff;
    color: black;
    font-size: 0.9em;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px #111;
}

.socialmedia {
    padding: 10px;
    border-radius: 10px;
    line-height: 1em;
    height: 70px;
    margin: 1rem auto;
    align-items: center;
    align-content: center;
}

footer {
    padding: 10px;
    border-radius: 10px;
    background-color: #09203f;
    font-size: 0.75em;
    line-height: 1em;
    text-align: center;
    height: 70px;
    color: #fff;
    font-family: "Lusitana", sans-serif;
    margin: 1rem auto;
}

.subtitle {
    font-style: italic;
    letter-spacing: 1pt;
    color: lawngreen;
    font-size: 0.9rem;
    margin-left: 20px;
}

.title {
    display: grid;
    text-align: center;
}

#currentdate {
    color: #ffd600;
}


/* Navigation Menu  */

nav {
    margin: 0 auto;
    background-color: #09203f;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li {
    display: block;
}

.active {
    background-color: var(--dark);
    color: rgb(255, 255, 255);
}

.bold_Text {
    font-style: italic;
    color: #3e689d;
    font-size: 1.1rem;
}

.logo {
    float: left;
    width: 90px;
    height: 90px;
    padding-right: 10px;
    padding-left: 10px;
}

header img {
    width: 80px;
    height: auto;
}

.bodyLazy300 {
    display: block;
    text-align: center;
    font-family: "Roboto", serif;
    margin: 1rem auto;
}

.bodyLazy300 img {
    display: block;
    width: 300px;
    height: 400px;
    border: 0;
    padding: 10px;
}

.grid-container {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.container {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1048px;
}

img {
    width: 250px;
    height: auto;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    text-align: center;
}


/* hover effect */

.norm:hover {
    box-shadow: 0 0 50px #333;
}

.rocorn:hover {
    box-shadow: 0 0 50px #333;
}


/* rounded corners - boxmodel */

.rocorn {
    border-radius: 5px 150px;
}


/* simple opacity */

.opac {
    opacity: .5;
}

.blur {
    filter: blur(1px) grayscale(75%);
}

.object {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.shape-outside {
    border-radius: 100px;
    width: 35%;
    margin: 0 3em .5em 0;
    float: left;
    shape-outside: circle();
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.submitbutton {
    border: none;
    background-color: #7c8792;
    ;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}

.submitbutton:hover {
    background-color: #505c68;
    cursor: pointer;
}

.header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid white;
}


/* Insert new - size of logo */

header {
    padding: 0.5rem 2%;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}


/* clearfix: Force an element no to collapse */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    /* display: flex; */
}

.herodiv img {
    width: 100%;
    display: flex;
}

.stats {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 60px;
    width: 200px;
    height: 240px;
    border: 1px solid #000;
    opacity: 0.8;
    padding: 0.5rem;
    background: radial-gradient(#eee, #8998b6);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.59);
}

.stats p {
    line-height: 10%;
}

.forest {
    max-width: 250px;
    float: right;
    display: inline-flex;
    padding: 10px;
}


/* tables */

table {
    border: 1px solid grey;
    border-collapse: collapse;
    box-shadow: 10px 10px 10px rgb(98, 140, 166);
    align-content: center;
    align-items: center;
}

thead,
tfoot {
    background-color: #7fb9c2;
}

thead {
    font-size: 1.25rem;
}

tfoot {
    font-size: .75rem;
    text-align: center;
}

td,
th {
    text-align: center;
    /*
    border: 1px solid grey;
    */
    padding: 10px;
}

#highlight {
    background-color: #628ca6;
    color: white;
}

tbody th {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

.contact {
    height: auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.contact p,
.contact h3 {
    position: relative;
    left: 30px;
}

.map {
    display: block;
    margin-top: 0rem;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    padding: 5px;
    box-shadow: 0 0 30px #333;
}

.hide {
    display: none;
}

.icon {
    max-width: 40px;
    max-height: 40px;
}


/* form */

form {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #09203f;
}

form fieldset {
    /*
    background-color: var(--primary);
    margin: 15px;
        padding: .8rem 5%;
    */
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgb(219, 219, 219);
}

form legend {
    color: #09203f;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: larger;
}

form label.top,
form label.details {
    display: block;
    padding-top: .3rem;
    color: #09203f;
    font-size: .9rem;
}

form label.top input,
form label.details select {
    display: block;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: .75rem;
    color: #01222c;
    width: 100%;
    max-width: 18rem;
    background-color: rgb(252, 252, 252);
    padding-top: 10px;
    padding-bottom: 10px;
}

form label.details,
.flexly {
    display: block;
    padding: .75rem 0;
    font-size: .8rem;
}

form label.last {
    display: block;
    padding: .2rem 0;
    color: #09203f;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

form input.submitBtn {
    border: none;
    background-color: #09203f;
    color: #fcfcfd;
    border-radius: 1rem;
    padding: .75rem .5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
}

form input.submitBtn:hover {
    background-color: lime;
    cursor: pointer;
}

form label.top input:required {
    border-left: rgb(224, 35, 35) solid 3px;
}

form label.top input:required:valid {
    border-left: #079B42 solid 3px;
}

input:focus {
    box-shadow: 0 0 10px #ccc;
}

.flexly {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#ratingvalue {
    margin: 0 15px;
    padding-left: 0px;
    color: #09203f;
}

#calendar {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .75rem;
    color: #09203f;
}

textarea {
    max-width: 300px;
}


/*-------Cards Lesson 09 -----------*/

div.cards h2 {
    color: navy;
    padding: 1rem 0 0 0;
    font-size: 18pt;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.cards p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75rem;
}

div.cards section {
    border-radius: .2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    margin: .5rem;
    padding: 1rem;
}

div.cards img {
    width: 100%;
}

div.cards {
    display: grid;
    justify-content: center;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*-------Cards Lesson 09 Weather Wind Vane --------*/

div.cardsww h2 {
    color: navy;
    padding: 1rem 0 0 0;
    font-size: 18pt;
    text-align: center;
    font-family: 'Cormorant+Garamond', Arial, sans-serif;
}

div.cardsww h3 {
    color: limegreen;
    padding: 1rem 0 0 0;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Cookie', Times, serif;
}

div.cardsww p {
    text-align: center;
    color: purple;
    font-size: 0.75rem;
    font-family: 'Inconsolata', Arial, sans-serif;
}

div.cardsww section {
    border-radius: .2em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    margin: .5rem;
    padding: 1rem;
}

div.cardsww img {
    width: 100%;
}

div.cardsww {
    display: grid;
    justify-content: center;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* API test id = weather */

.weather {
    text-align: center;
    margin: 0 auto;
}

.weather img {
    width: 50px;
    margin: 0 auto;
}


/* forecast table 5 next days */

#five-day-grid {
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
    margin-bottom: 2rem;
    width: 450px;
}

#five-day-grid .daily-forecast {
    text-align: center;
}

#five-day-grid .daily-forecast .dow {
    margin: 1px;
    padding: 4px;
    background-color: #7a66cc;
    color: white;
    font-weight: bold;
}

#five-day-grid .daily-forecast .weather-icon {
    margin: 1px;
    padding: 4px;
    width: 87px;
    border: 1px solid black;
    background-color: #cddeff;
}

#five-day-grid .daily-forecast .temp {
    margin: 1px;
    padding: 4px;
    border: 1px solid #371f99;
    background-color: white;
}


/* animations display */

.display {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: greenyellow url("img/weather-raining.gif") no-repeat fixed center;
    /*
    background-image: url("weather-raining.gif");
    */
    background-size: cover;
    animation: fadeOut 5s linear forwards;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    41% {
        opacity: 1;
    }
    91% {
        opacity: 1;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.display1 {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: orange url("img/weather1.jpg") no-repeat fixed center;
    /* background: #272727; */
    animation: go-left 4s cubic-bezier(.74, .06, .4, .92) forwards;
    left: 0;
}

@keyframes go-left {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

.display2 {
    position: absolute;
    width: 0%;
    height: 100vh;
    background: #3E689D url("img/weather4.jpg") no-repeat fixed center;
    /* background: #B08D74; */
    animation: go-left 3.2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 3s;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loader ul li {
    display: inline-block;
    color: #fff;
    font-family: Poppins;
    font-weight: bolder;
    margin: 0 8px;
    font-size: 24px;
    text-transform: uppercase;
    animation: loadNow 4s ease-in-out forwards;
    opacity: 0;
    transform: translateX(0px);
}

@keyframes loadNow {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }
    20% {
        opacity: 1;
        transform: translateX(0px);
    }
    80% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-80px);
    }
}

.loader ul li:nth-child(1) {
    animation-delay: 1.1s;
}

.loader ul li:nth-child(2) {
    animation-delay: 1.2s;
}

.loader ul li:nth-child(3) {
    animation-delay: 1.3s;
}

.loader ul li:nth-child(4) {
    animation-delay: 1.4s;
}

.loader ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.loader ul li:nth-child(6) {
    animation-delay: 1.6s;
}

.loader ul li:nth-child(7) {
    animation-delay: 1.6s;
}

@media only screen and (min-width: 35em) {
    /* Medium Screen */
    header img {
        width: 100%;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        /* color: yellow; */
        background: #ddd;
        display: block;
        text-decoration: none;
        padding: 0.8rem;
        text-align: center;
        color: #333;
        text-transform: uppercase;
        font-size: 1.1rem;
        box-shadow: var(--shadow);
    }
    div.cards {
        grid-template-columns: repeat(2, 1fr);
    }
    div.cardsww {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 64rem) {
    /* Large Style */
    * {
        padding: 0px;
        line-height: 0.8em;
    }
    header img {
        width: 100%;
        height: auto;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .subtitle {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    form label.sbs {
        padding: .4rem 0;
    }
    /* new 3 pictures */
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin: 10px auto;
        border: 1px dashed #000;
        padding: 5px;
    }
    .headings h1 {
        font-size: 1.5rem;
    }
    .subtitle {
        letter-spacing: 0.5pt;
        font-size: small;
        margin-left: 10px;
    }
    div.cards {
        grid-template-columns: repeat(4, 1fr);
    }
    div.cardsww {
        grid-template-columns: repeat(3, 1fr);
    }
}